# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.db
/Introduction/*
/build-QGettingStarted-Desktop_Qt_5_10_0_MinGW_32bit-Release/*
/build-QGettingStarted-Desktop_Qt_5_10_0_MinGW_32bit-Debug/*
/build-QGettingStarted-Desktop_Qt_5_10_0_MSVC2015_32bit-Debug/*
/build-QGettingStarted-Desktop_Qt_5_10_0_MSVC2015_STATIC_32bit-Release/*
/Win32/*
/QGettingStarted/Debug/*
/QGettingStarted/Release/*
/QGettingStarted/Release/GeneratedFiles/*